body,
html {
  background: var(--default-backgroud-color);
}

body,
.markdown-html {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
.markdown-html h1,
.markdown-html h2,
.markdown-html h3,
.markdown-html h4 {
  margin: 0;
  font-weight: 300;
}

paper-button.colorful {
  color: var(--default-primary-color);
}

paper-button[raised].colorful {
  background: var(--default-primary-color);
  color: var(--text-primary-color);
}

a,
.anchor-like,
.markdown-html a {
  color: var(--default-primary-color);
  text-decoration: none;
}

.placeholder-color {
  background-color: var(--primary-background-color);
}

.toast {
  z-index: 999;
}

.container {
  padding: 40px 16px;
}

.container-narrow {
  padding: 20px 16px;
}

.container .heading {
  margin-bottom: 20px;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.page-header {
  margin: -90px auto 0;
  padding-bottom: 20px;
}

.page-title {
  margin-left: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  color: #fff;
  pointer-events: none;
}

@media (--md-viewport) {
  .container {
    margin: 0 auto;
    padding: 60px 16px;
    max-width: 896px;
  }

  .container-narrow {
    padding: 30px 16px;
  }

  .container .heading {
    margin-bottom: 40px;
  }

  .page-header {
    margin: -170px auto 0;
    padding-bottom: 0;
  }

  .page-title {
    font-size: 42px;
  }
}

@media (--lg-viewport) {
  .container {
    max-width: 1280px;
  }
}

.text-center {
  text-align: center;
}

.align-pb-block {
  margin-left: -9px;
}

.markdown-html img {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  display: block;
}

[show] {
  opacity: 1 !important;
}
