version: 2
updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: monthly
  - package-ecosystem: npm
    directories:
      - '/'
      - '/functions'
    schedule:
      interval: monthly
    open-pull-requests-limit: 25
    groups:
      rollup:
        patterns:
          - '*rollup*'
      jest:
        patterns:
          - '*jest*'
      eslint:
        patterns:
          - 'eslint*'
          - '@typescript-eslint/*'
      material:
        patterns:
          - '@material/*'
      stylelint:
        patterns:
          - '*stylelint*'
      firebase:
        patterns:
          - '*firebase*'
      markdownlint:
        patterns:
          - 'markdownlint*'
