{
    "env": {
        "development": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "shippedProposals": true
                    }
                ]
            ]
        }
    }
}