language: node_js
node_js: 7
cache:
  directories:
  - node_modules
  - bower_components
  - "${NVM_PATH}_modules"
env:
- CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
install:
- npm install -g bower
- npm install
- bower install
script: echo "Deploying!"
before_deploy: npm run build
deploy:
- provider: firebase
  skip_cleanup: true
  branch: master
  project: hoverboard-firebase
  token:
    secure: SFEDWy0rKbYf5lgSGNlgpF5pnTwczRqaZhqSLdBoFZTieiSXjVRRMou84JEyvVZjbcro1Pxmd9IiKOqpFeu2XNoklT2eXOb1pCBPMiquXbFW1ERVdL70ZVRK+Esr1SkK1yrKjy8N32zLMSkfpqTTcJJQbydt53plQLqx9A98pR8L+2I/Xew/bcjPtMbqVlh9bTYKBGq0LYXJCNMttRvh783wre5olGnKv9r416ghpX/NqEnzGhoiBVg3yLpZJVXLMxhsxWtyusHxz0LSunMbKLtaJbgyqtm1vkJhhl19K7/TQJCe3ELC35ujBSKJ1lVkDIYeldc0/Z8Z8LNq986CpntZMGcLQJyp97nUSJ37IOh4Bzn02UPeDqZfMh60P5Gyug4kGNJYTwL/z4SV6GvdoxOeXa5Gy4PFMyZGYB3DFM8yptEVtbaHIfgHxeCnY5+wdM95aVuMICiT71C8AXUqozjwpIzz68o1f7QsXMgWv55xxkvuLRbPahcli0Qh8IcnU42LfljZLvjAHQE+DpNjk7lvgXxEPD3icIqdmtKnX4R9trUJwLZaSUWEjNyiglg+/Ft2D40pBrlKce4qJlOvrZNKr+lK7t/XXgPjFoX46+cWyDHBo4WUMWtalhEnqR0AvxaF3LRmRZ20n6Xk7OHJwKWdIntI5cmZvf2KXIgxcPc=
- provider: firebase
  skip_cleanup: true
  branch: develop
  project: dfua-test
  token:
    secure: ohAlV1F5DFitt7bBqIMz8rlNjzmGrZu7q5VPKTaqjqd3zf+6l1uXEt90SbDK8lfeuA/O9XcTnZUkKGpZ8cAHH2O/KWwVkC7CzAhkSEuKT2kHnH+4UTxaXSXZZC2qpUWqn75M00V7cJYosh3M6PRtUI0mbrx93D+l4p+PRy6n5iGj1k4d/XlouDZvn07qJGIXuTVlBq5k9aHoeNEeQyLC355gRvHQczrGt9U5Eh2GA8TqKCAZffELjnxD6ZbhpGTAnXGCy3uqk39iwdWmqOaoQud91hW/LeZBvwCeGiW8Glw30N+5R/vTw4Jp6D4PGO3mQ4IjTQgnJmAW1ucwJj/5m5WfjJggsR+t3AHKbHu8H90v/XXM+o53kYrMH6l8uJ3ldVgFWHlEYhaIxRjdwQJb3zo49LSwmBVIhlyLXc9wjanIe9tZYd27kA55E0PhpqynfOwztOiGRwiibRPDNPhsMyozaDj+ID31izTfJT1RGA0TU4/rTIplGFfXAJK2s0cCyMf4vkEQLrNZKbgjWIHfNYdwO9jeI1dspy9U/MKRRCkzTAiAmpLwL73E80jRPpwp7UDVXaz8NBZTzAcjonTI0C+ehRaHwroU1i21SKULd93QUZFuQRny0ShLW93SwrAPUI5/w3RBkSBAFrwPBRQJEGOpVYGHbiEH84zfFdFsTc0=

