service cloud.firestore {
  match /databases/{database}/documents {
    match /blog/{post} {
      // Applies to single document read requests
      allow get;

      // Applies to queries and collection read requests
      allow list;

      // Disallow writes
      allow write: if false;
    }

    match /featuredSessions/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    match /gallery/{photo} {
      // Applies to single document read requests
      allow get;

      // Applies to queries and collection read requests
      allow list;

      // Disallow writes
      allow write: if false;
    }

    match /partners/{groupId} {
      // Applies to single document read requests
      allow get;

      // Applies to queries and collection read requests
      allow list;

      // Disallow writes
      allow write: if false;

      match /items/{itemId} {
        // Applies to single document read requests
        allow get;

        // Applies to queries and collection read requests
        allow list;

        // Disallow writes
        allow write: if false;
      }
    }

    match /previousSpeakers/{speaker} {
      // Applies to single document read requests
      allow get;

      // Applies to queries and collection read requests
      allow list;

      // Disallow writes
      allow write: if false;
    }

    match /schedule/{day} {
      // Applies to single document read requests
      allow get;

      // Applies to queries and collection read requests
      allow list;

      // Disallow writes
      allow write: if false;
    }

    match /sessions/{session} {
      // Applies to single document read requests
      allow get;

      // Applies to queries and collection read requests
      allow list;

      // Disallow writes
      allow write: if false;
    }

    match /speakers/{speaker} {
      // Applies to single document read requests
      allow get;

      // Applies to queries and collection read requests
      allow list;

      // Disallow writes
      allow write: if false;
    }

    match /team/{teamId} {
      // Applies to single document read requests
      allow get;

      // Applies to queries and collection read requests
      allow list;

      // Disallow writes
      allow write: if false;

      match /members/{memberId} {
        // Applies to single document read requests
        allow get;

        // Applies to queries and collection read requests
        allow list;

        // Disallow writes
        allow write: if false;
      }
    }

    match /tickets/{ticket} {
      // Applies to single document read requests
      allow get;

      // Applies to queries and collection read requests
      allow list;

      // Disallow writes
      allow write: if false;
    }

    match /videos/{video} {
      // Applies to single document read requests
      allow get;

      // Applies to queries and collection read requests
      allow list;

      // Disallow writes
      allow write: if false;
    }
  }
}
