<div class="nav-class">
  <div><p>Icon</p></div>
  <div>
    <a href="">Home</a><a href="">Speakers</a><a href="">Agenda</a><a href=""
      >Values</a
    ><a href="">Team</a><a href="">Pricing</a><a href="">Buy</a>
  </div>
</div>

<style>
  .nav-class {
    background-color: "rgba(28, 33, 32, 1)";
  }

  a {
    padding: 16px 20px 16px 10px;
  }
</style>
