.jlayers {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  -webkit-transform: rotateX(0deg) translateZ(0);
  -webkit-backface-visibility: hidden;
  position: relative;

  > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s 0.5s, opacity 0.5s 0.5s;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    z-index: 10;
  }

  > div:nth-child(2) {
    z-index: 9;
    opacity: 0;
  }

  > div:nth-child(3) {
    z-index: 8;
    opacity: 0;
  }

  > div:nth-child(4) {
    z-index: 7;
    opacity: 0;
  }

  /** SIDE VIEW **/

  &.side-view {
    -webkit-transform: rotateX(55deg) rotateZ(10deg) translate3d(0,0,110px);
  }

  &.side-view > div:nth-child(1) {
    -webkit-transform: translate3d(0,-100px,0);
    opacity: 1;
  }

  &.side-view > div:nth-child(2) {
    -webkit-transform: translate3d(0,75px,-75px);
    opacity: 1;
  }

  &.side-view > div:nth-child(3) {
    -webkit-transform: translate3d(0,135px,-150px);
    opacity: 1;
  }

  &.side-view > div:nth-child(4) {
    -webkit-transform: translate3d(0,185px,-225px);
    opacity: 1;
  }

  /** SLIDE UP **/
  &.slide-up {
    -webkit-transform: rotateY(12deg);
  }

  &.slide-up > div:nth-child(2) {
    -webkit-transform: translate3d(0,-100px,0);
    opacity: 1 !important;
  }

  &.slide-up > div:nth-child(3) {
    -webkit-transform: translate3d(0,-200px,0);
    opacity: 1 !important;
  }

  &.slide-up > div:nth-child(4) {
    -webkit-transform: translate3d(0,-300px,0);
    opacity: 1 !important;
  }
}




