<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="../../bower_components/neon-animation/neon-shared-element-animatable-behavior.html">

<link rel="import" href="../blocks/footer-block/footer-block.html">

<dom-module id="blog-page">

  <template>

    <style include="shared-styles"></style>
    <style>
      :host {
        display: block;
        --grid-column-width: 396px;
        --grid-gutter: 4px;
        --grid-item-height: calc(3 * var(--grid-column-width) / 4);
      }

      .posts-container {
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
        margin: var(--grid-gutter) auto 40px;
        max-width: calc(2 * var(--grid-column-width) + 4 * var(--grid-gutter));
      }

      .post {
        @apply(--layout-vertical);
        margin: var(--grid-gutter);
        width: var(--grid-column-width);
        height: var(--grid-item-height);
        text-decoration: none;
      }

      .post:first-of-type {
        width: calc(100% - 2 * var(--grid-gutter));
        height: calc(var(--grid-column-width) + 2 * var(--grid-gutter));
      }

      .image {
        height: 100%;
        background: no-repeat 50% 50%;
        opacity: 0.7;
        transition: opacity 0.5s;
      }

      .title {
        @apply(--layout-horizontal);
        @apply(--layout-center-center);
        padding: 12px;
        min-height: 42px;
        font-size: 20px;
        text-align: center;
        letter-spacing: 0.8px;
        line-height: 1.05;
        color: #fff;
      }

      @media (max-width: 600px) {
        .posts-container {
          padding: 0 var(--grid-gutter);
        }
      }

      @media (max-width: 960px) {
        .posts-container {
          max-width: none;
        }

        .post {
          width: 100% !important;
          height: var(--grid-item-height) !important;
          margin: var(--grid-gutter) 0;
        }
      }

      @media (min-width: 961px) {
        .post:hover .image {
          opacity: 1;
        }
      }
    </style>

    <div class="container page-header" cascaded>
      <div class="page-title">
        <h3>Blog</h3>
      </div>
    </div>
    <div class="container posts-container">
      <template is="dom-repeat" items="[[posts]]" as="post" on-dom-change="_updateCascadedNodes">
        <a data-route="blog/[[post.id]]" href="{$ baseurl $}/blog/[[post.id]]" class="post"
           style$="background-color: [[post.primaryColor]];" cascaded>
          <iron-image class="image" src="[[post.image]]" style$="background-color: [[post.primaryColor]];"
                      sizing="cover" preload fade></iron-image>
          <div class="title" style$="background-color: [[post.secondaryColor]];">[[post.title]]</div>
        </a>
      </template>
    </div>
    <footer-block mailchimp-url="{$ mailchimp.url $}" mailchimp-name="{$ mailchimp.name $}" cascaded></footer-block>

  </template>

  <script>
    (function () {
      'use strict';

      class BlogPage {

        get behaviors() {
          return [
            Polymer.NeonSharedElementAnimatableBehavior
          ];
        }

        beforeRegister() {
          this.is = this.constructor.name.replace(/\W+/g, '-')
            .replace(/([a-z\d])([A-Z])/g, '$1-$2').toLowerCase();
          this.properties = {
            posts: Array,
            selected: {
              type: Boolean,
              observer: 'updateHeroSettings'
            },
            heroSettings: {
              type: Object,
              notify: true
            },
            _heroSettings: {
              type: Object,
              /* jshint ignore:start */
              value: function () {
                return {% for nav in navigation %}{% if nav.route == 'blog' %}{$ nav.heroSettings | dump $}{% endif %}{% endfor %};
              }
              /* jshint ignore:end */
            },

            animationConfig: {
              type: Object,
              value: function () {
                return {
                  'entry': [{
                    name: 'cascaded-animation',
                    animation: 'transform-animation',
                    transformFrom: 'translate3d(0, 100%, 0)',
                    timing: {
                      delay: 500
                    }
                  }, {
                    name: 'fade-in-animation',
                    animation: 'fade-in-animation',
                    node: this,
                    timing: {
                      delay: 500
                    }
                  }],
                  'exit': [{
                    name: 'cascaded-animation',
                    animation: 'transform-animation',
                    transformTo: 'translate3d(0, 100%, 0)'
                  }, {
                    name: 'fade-out-animation',
                    animation: 'fade-out-animation',
                    node: this
                  }]
                };
              }
            }
          };
          this.observers = [
            'updateHeroSettings(selected)'
          ];
        }

        updateHeroSettings() {
          this.heroSettings = this.selected ? this._heroSettings : this.heroSettings;
        }

        _updateCascadedNodes() {
          var cascaded = Polymer.dom(this.root).querySelectorAll('[cascaded]');
          var cascadedArray = Array.prototype.slice.call(cascaded);
          this.animationConfig.entry[0].nodes = cascadedArray;
          this.animationConfig.exit[0].nodes = cascadedArray;
        }

      }

      Polymer(BlogPage);

    })();
  </script>

</dom-module>
