<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">

<link rel="import" href="../blocks/session-details/session-details.html">
<link rel="import" href="../behaviors/utils-behavior.html">

<dom-module id="schedule-page">

  <template>

    <style include="shared-styles"></style>
    <style>
      :host {
        display: block;
        --paper-tabs-selection-bar-color: #FFFFFF;
        --paper-tab-ink: rgba(255, 255, 255, 0.2);
        --hero-color: var(--default-primary-color);
        --paper-tab-content: {
          font-weight: 400 !important;
        };
        --paper-tab: {
          color: #FFFFFF;
          font-weight: 400;
          text-transform: uppercase;
          flex: none;
        };
        --paper-menu: {
          color: var(--disabled-text-color);
        };
        --paper-menu-selected-item: {
          font-weight: 300;
          color: var(--primary-text-color);
        };
        --paper-menu-focused-item: {
          position: inherit;
          user-select: none;
        };
      }

      .schedule-container {
        @apply(--layout-vertical);
      }

      .schedule-tabs {
        margin-top: -66px;
      }

      .legend {
        margin-top: 20px;
        background: transparent;
      }

      .legend-item {
        margin-right: 10px;
        display: inline-block;
        cursor: pointer;
      }

      .legend-item .point {
        margin-right: 5px;
      }

      .timeslot {
        @apply(--layout-vertical);
      }

      .start-time {
        margin: 25px 0 10px 10px;
        font-size: 14px;
        font-weight: 400;
        color: var(--secondary-text-color);
      }

      .schedule-icon {
        --iron-icon-height: 20px;
        --iron-icon-width: 20px;
      }

      .sessions-wrapper {
        @apply(--layout-vertical);
      }

      .session {
        @apply(--layout-vertical);
      }

      .sub-session {
        @apply(--layout-horizontal);
        padding: 10px 16px;
        background: #FFFFFF;
        cursor: pointer;
      }

      .track {
        width: 40px;
      }

      .point {
        margin: 7px 0 0 8px;
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
      }

      .session-detail {
        @apply(--layout-vertical);
        @apply(--layout-flex);
      }

      .main-info {
        @apply(--layout-horizontal);
      }

      .lang {
        margin: 4px 0 0 10px;
        text-transform: uppercase;
        font-size: 12px;
        color: var(--secondary-text-color);
      }

      .session-title {
        @apply(--layout-flex);
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 1.1;
        color: var(--primary-text-color);
      }

      .speaker {
        @apply(--layout-horizontal);
        margin-top: 5px;
        color: var(--secondary-text-color);
      }

      .speaker-img {
        @apply(--img-circle);
        margin-right: 10px;
        height: 30px;
        width: 30px;
        min-width: 30px;
      }

      .person-detail {
        @apply(--layout-vertical);
        @apply(--layout-center-justified);
      }

      .person-name {
        font-size: 18px;
        line-height: 1;
      }

      .person-title {
        font-size: 14px;
        color: var(--disabled-text-color);
      }

      .session-meta {
        @apply(--layout-horizontal);
        margin-top: 10px;
        font-size: 14px;
        color: var(--disabled-text-color);
      }

      .meta-block {
        margin-right: 10px;
      }

      .session-meta-icon {
        --iron-icon-height: 18px;
        --iron-icon-width: 18px;
      }

      @media (max-width: 960px) {
        .container {
          padding: 40px 0;
        }

        .sessions-wrapper {
          background: #FFFFFF;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        }

        .session:first-of-type .sub-session {
          padding-top: 20px;
        }

        .session:last-of-type .sub-session {
          padding-bottom: 20px;
        }

        .schedule-tabs {
          background: var(--hero-color);
        }
      }

      @media (min-width: 961px) {
        .timeslot {
          margin-bottom: 10px;
        }

        .start-time {
          margin: 15px 10px;
          font-size: 20px;
          font-weight: 300;
        }

        .sessions-wrapper {
          @apply(--layout-horizontal);
        }

        .session {
          @apply(--layout-flex);
          margin: 0 10px;
        }

        .sub-session {
          @apply(--layout-flex-auto);
          padding: 20px 16px;
          border-top: 3px solid;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        }

        .sub-session:not(:last-of-type) {
          margin-bottom: 10px;
        }

        .track {
          width: 30px;
        }

        .track span {
          margin-left: 4px;
        }
      }
    </style>

    <div class="container page-header" cascaded>
      <div class="page-title">
        <h3>Schedule</h3>
      </div>
    </div>
    <div class="container schedule-container">
      <paper-tabs class="schedule-tabs" selected="{{_selectedDay}}">
        <template is="dom-repeat" items="[[schedule]]" as="day">
          <paper-tab>[[day.dateReadable]]</paper-tab>
        </template>
      </paper-tabs>

      <neon-animated-pages selected="{{_selectedDay}}" entry-animation="[[_entryAnimation]]"
                           exit-animation="[[_exitAnimation]]">
        <template is="dom-repeat" items="[[schedule]]" as="day">
          <neon-animatable>
            <div class="day-info">
              <paper-menu class="legend" selected-values="{{_selectedTags}}" multi
                          attr-for-selected="data-filter">
                <template is="dom-repeat" items="[[day.tags]]" as="tag">
                  <paper-item class="legend-item"
                              data-filter$="[[tag]]">
                    <i class="point"
                       style$="background: [[_getCustomStyleValue(tag)]]"></i>[[tag]]
                  </paper-item>
                </template>
              </paper-menu>
            </div>
            <template is="dom-repeat" items="[[day.timeslots]]" as="timeslot">
              <div class="timeslot">
                <div class="start-time">
                  <iron-icon class="schedule-icon" icon="icons:schedule"></iron-icon>
                  <span>[[timeslot.startTime]]</span>
                </div>
                <div class="sessions-wrapper">
                  <template is="dom-repeat" items="[[timeslot.sessions]]" as="session">
                    <div class="session">
                      <template is="dom-repeat" items="[[session]]" as="subSession"
                                filter="{{_filterSession(_selectedTags.splices)}}">
                        <div class="sub-session"
                             style$="border-color: [[_getCustomStyleValue(subSession.mainTag)]]"
                             on-tap="_openSession">
                          <div class="track">
                            <i class="point"
                               style$="background: [[_getCustomStyleValue(subSession.mainTag)]]"></i>
                          </div>
                          <div class="session-detail">
                            <div class="main-info">
                              <h4 class="session-title">[[subSession.title]]</h4>
                              <span class="lang">[[_getFirstCharacters(subSession.language)]]</span>
                            </div>
                            <template is="dom-repeat" items="[[subSession.speakers]]"
                                      as="speaker">
                              <div class="speaker">
                                <div class="speaker-img" style="background-image: url([[speaker.photoUrl]])"></div>
                                <div class="person-detail">
                                  <span class="person-name">[[speaker.name]]</span>
                                  <div class="person-title">
                                    [[speaker.company]],[[speaker.country]]
                                  </div>
                                </div>
                              </div>
                            </template>
                            <div class="session-meta">
                              <div class="meta-block">
                                <iron-icon class="session-meta-icon"
                                           icon="icons:end-time"></iron-icon>
                                [[subSession.endTime]]
                              </div>
                              <div class="meta-block">
                                <iron-icon class="session-meta-icon"
                                           icon="icons:location"></iron-icon>
                                [[subSession.track.title]]
                              </div>
                            </div>
                          </div>
                        </div>
                      </template>
                    </div>
                  </template>
                </div>
              </div>
            </template>
          </neon-animatable>
        </template>
      </neon-animated-pages>
    </div>

    <session-details id="sessionDetails" session="{{_selectedSession}}"
                     entry-animation="scale-up-animation" exit-animation="fade-out-animation"
                     with-backdrop></session-details>

  </template>

  <script>
    (function () {
      'use strict';

      Polymer({

        is: 'schedule-page',

        behaviors: [
          Polymer.NeonSharedElementAnimatableBehavior,
          Polymer.UtilsBehavior
        ],

        properties: {
          schedule: {
            type: Array,
            observer: '_updateLegend'
          },
          sessions: Object,
          selected: {
            type: Boolean,
            observer: 'updateHeroSettings'
          },
          heroSettings: {
            type: Object,
            notify: true
          },
          sessionId: {
            type: String,
            notify: true
          },
          _entryAnimation: String,
          _exitAnimation: String,
          _selectedDay: {
            type: Number,
            value: 0,
            observer: '_changeDay'
          },
          _heroSettings: {
            type: Object,
            /* jshint ignore:start */
            value: function () {
              return {% for nav in navigation %}{% if nav.route == 'schedule' %}{$ nav.heroSettings | dump $}{% endif %}{% endfor %};
            }
            /* jshint ignore:end */
          },
          _selectedTags: {
            type: Array,
            value: []
          },

          animationConfig: {
            type: Object,
            value: function () {
              return {
                'entry': [{
                  name: 'fade-in-animation',
                  animation: 'fade-in-animation',
                  node: this,
                  timing: {
                    delay: 500
                  }
                }],
                'exit': [{
                  name: 'fade-out-animation',
                  animation: 'fade-out-animation',
                  node: this
                }]
              };
            }
          }
        },

        observers: [
          'openSessionDetails(selected, sessionId, sessions)'
        ],

        ready: function () {
          this.customStyle['--hero-color'] = this._heroSettings.backgroundColor;
          this.updateStyles();
        },

        updateHeroSettings: function () {
          this.heroSettings = this.selected ? this._heroSettings : this.heroSettings;
        },

        openSessionDetails: function () {
          if (this.selected && this.sessionId) {
            this.async(function () {
              this._selectedSession = this.sessions[this.sessionId];
              this.$.sessionDetails.open();
              this.sessionId = null;
            }, 500);
          }
        },

        _updateLegend: function () {
          this._selectedTags = this.schedule[0].tags;
        },

        _changeDay: function (newValue, oldValue) {
          if (window.innerWidth < 961) {
            this._entryAnimation = newValue < oldValue ? 'slide-from-right-animation' : 'slide-from-left-animation';
            this._exitAnimation = newValue < oldValue ? 'slide-left-animation' : 'slide-right-animation';
          } else {
            this._entryAnimation = 'fade-in-animation';
            this._exitAnimation = 'fade-out-animation';
          }
          if (this.schedule) {
            this._selectedTags = this.schedule[newValue].tags;
          }
        },

        _getCustomStyleValue: function (value) {
          return this.getComputedStyleValue('--' + this._generateClass(value));
        },

        _openSession: function (e) {
          this._selectedSession = e.model.subSession;
          this.$.sessionDetails.open();
        },

        _getFirstCharacters: function (text) {
          return text ? text.substring(0, 2) : '';
        },

        _filterSession: function () {
          var tags = this._selectedTags || [];
          return function (session) {
            return tags.indexOf(session.mainTag) > -1;
          };
        }

      });

    })();
  </script>

</dom-module>
