/** @define Main */

.Main {

  @nest &-headerMiddleContent  {
    height: 100%;
    margin-left: 48px;
  }

  @nest &-header:not(.tall) &-headerMiddleContent {
    font-size: 18px;
    padding-bottom: 0;
  }

  @nest &-headerBottomContent {
    margin-left: 48px;
    /* Required for main area's paper-scroll-header-panel custom condensing transformation */
    transform-origin: left center;
  }

  @nest &-headerTitle {
    @apply(--paper-font-headline);
    /* Required for main area's paper-scroll-header-panel custom condensing transformation */
    transform-origin: left center;
    @media (--md-viewport) {
      @apply(--paper-font-display2);
    }
  }

  @nest &-headerSubTitle {
    @apply(--paper-font-subhead);
  }
}
