<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/utils/render-status.html">
<link rel="import" href="../bower_components/polymer/lib/utils/import-href.html">

<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">

<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">

<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">

<link rel="import" href="elements/shared-styles.html">
<link rel="import" href="elements/flex-layout-attr.html">
<link rel="import" href="elements/hoverboard-icons.html">


<dom-module id="hoverboard-app">

  <template>

    <style is="custom-style" include="shared-styles flex flex-alignment positioning"></style>
    <style>

      :host {
        display: block;
        position: relative;
        min-height: 100vh;
      }

      app-drawer app-toolbar {
        padding: 36px 24px;
        border-bottom: 1px solid var(--divider-color);
      }

      app-drawer .dates {
        font-size: 24px;
      }

      app-header {
        border-bottom: 1px solid var(--divider-color);
      }

      app-toolbar {
        padding: 0;
        height: auto;
      }

      .toolbar-logo {
        --iron-image-height: 32px;
      }

      .nav-item a {
        padding: 0 14px;
        color: var(--primary-text-color);
        text-transform: uppercase;
      }

      @media (min-width: {$ mediaQueries.sm.min $}) {
        app-toolbar {
          padding: 0 36px;
          height: initial;
        }

        .nav-items {
          --paper-tabs-selection-bar-color: var(--default-primary-color);
          --paper-tabs: {
            height: 64px;
          };
        }
      }

    </style>

    <iron-media-query id="mq-phone"
                      full
                      query="(max-width: {$ mediaQueries.xs.max $})"
                      query-matches="{{isPhoneSize}}"></iron-media-query>
    <iron-media-query id="mq-tablet"
                      full
                      query="(min-width: {$ mediaQueries.sm.min $}) and (max-width: {$ mediaQueries.sm.max $})"
                      query-matches="{{isTabletSize}}"></iron-media-query>
    <iron-media-query id="mq-desktop"
                      query="(min-width: {$ mediaQueries.md.min $})"
                      query-matches="{{isDesktopSize}}"></iron-media-query>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{routeData}}"
      tail="{{subroute}}">
    </app-route>

    <app-drawer-layout drawer-width="300px" force-narrow fullbleed>

      <app-drawer id="drawer" slot="drawer">
        <app-toolbar layout vertical>
          <iron-image class="toolbar-logo" src="/images/logo.svg" alt="{$ title $}"></iron-image>
          <h4 class="dates">{$ dates $}</h4>
          <h5 class="location">{$ locationAddressShort $}</h5>
        </app-toolbar>

        <iron-selector selected="[[routeData.page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          {% for nav in navigation %}
          <paper-tab name="{$ nav.route $}" link>
            <a href="{$ nav.permalink $}" class="nav-link">{$ nav.title $}</a>
          </paper-tab>
          {% endfor %}
        </iron-selector>
      </app-drawer>

      <app-header-layout>
        <app-header id="header" slot="header" effects="waterfall" condenses reveals>
          <app-toolbar>
            <paper-icon-button
              icon="h-icons:menu"
              aria-label="Menu"
              hidden$="[[!isPhoneSize]]"
              drawer-toggle>
            </paper-icon-button>
            <div layout horizontal center flex>
              <a href="/" hidden$="[[isPhoneSize]]" layout horizontal>
                <iron-image class="toolbar-logo" src="/images/logo.svg" alt="{$ title $}"></iron-image>
              </a>
            </div>

            <paper-tabs
              class="nav-items"
              selected="[[routeData.page]]"
              attr-for-selected="name"
              hidden$="[[isPhoneSize]]"
              role="navigation"
              noink>
              {% for nav in navigation %}
              <paper-tab name="{$ nav.route $}" class="nav-item" link>
                <a href="{$ nav.permalink $}" layout vertical center-center>{$ nav.title $}</a>
              </paper-tab>
              {% endfor %}
            </paper-tabs>
          </app-toolbar>
        </app-header>

        <h1>{{routeData.page}}</h1>

      </app-header-layout>
    </app-drawer-layout>

  </template>

  <script>

    class HoverboardApp extends Polymer.Element {

      static get is() {
        return 'hoverboard-app';
      }

      constructor() {
        super();
        window.performance && performance.mark && performance.mark('hoverboard-app.created');
      }

      ready() {
        super.ready();
        console.log('Hoverboard v2 is ready!');
        this.removeAttribute('unresolved');
        this._ensureLazyLoaded();
      }

      _ensureLazyLoaded() {
        if (!this.loadComplete) {
          Polymer.RenderStatus.afterNextRender(this, () => {
            Polymer.importHref(this.resolveUrl('lazy-resources.html'), () => {
              if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/service-worker.js');
              }
              this.loadComplete = true;
            });
          });
        }
      }
    }

    customElements.define(HoverboardApp.is, HoverboardApp);

  </script>

</dom-module>
