<paper-scroll-header-panel class="Drawer" drawer>
    <!-- Drawer Toolbar -->
    <paper-toolbar class="tall">
        <div class="top">
            <img class="Drawer-logo" src="{$ baseurl $}/images/logo-white.svg" alt="{$ title $}">
        </div>
        <div class="bottom Drawer-bottom">
            <span class="Drawer-dates">{$ dates $}</span>
            <span class="Drawer-location">{$ location.short $}</span>
        </div>
    </paper-toolbar>

    <!-- Navigation -->
    <nav>
        <paper-menu class="Drawer-navigation list" attr-for-selected="data-route" selected="{{route}}"
                    selected-class="selected" on-iron-select="_onDataRouteClick">
            {% for nav in navigation %}
            <a class="layout horizontal center" data-route="{$ nav.route $}" href="{$ nav.permalink $}">{$
                nav.text $}</a>
            {% endfor %}
        </paper-menu>
    </nav>
</paper-scroll-header-panel>
